@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

main {
  padding: 20px;
  overflow: auto;
}

h2,
h3 {
  color: #1b1a17;
}

nav {
  background-color: #1b1a17;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav a:hover {
  font-weight: bold;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #2c3333;
  text-align: center;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  /* properti pendukung */
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.flex-container-row {
  display: flex;
}

.flex-container-row img {
  width: 100%;
}

.button {
  flex-basis: 25%;

  /* properti pendukung */
  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #ffffff, rgb(247, 243, 243));
}

footer {
  padding: 20px;
  color: white;
  background-color: #1b1a17;
  text-align: center;
  font-weight: bold;
}

/* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 1000px */
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
